
@{
    ViewData["Title"] = "CreateAllStudent";
}

<h2 class="alert alert-info"><span class="glyphicon glyphicon-picture"></span>>CreateAllStudent</h2>


@model IEnumerable<Student>

<br />

<h1 class="alert alert-info">Total Students: @Model.Count()</h1>
<br />
<a href="/Student1/CreateStudent" class="btn btn-warning">Add New Student</a>
<br />
<table id="mytable" name="mytable" class="table table-bordered">

    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Class</td>
            <td>Subject</td>
            <td>RollNo</td>
            <td>Department</td>
            <td>Gpa</td>
            <td>Email</td>
            <td>Phone_no</td>
            @*<td>Date_of_birth</td>*@
           <td>ProfilePicture</td>
            <td>CV</td>
            <td>More Actions </td>
        </tr>
    </thead>

    <tbody>

        @foreach (Student S in Model)

        {

        <tr>
            <td>
                @S.Id
            </td>
            <td>
                @S.Name
            </td>
            <td>
                @S.Class
            </td>
            <td>
                @S.Subject
            </td>
            <td>
                @S.RollNo
            </td>
            <td>
                @S.Department
            </td>
            <td>
                @S.Gpa
            </td>
            <td>
                @S.Email
            </td>
           <td>
                @S.Phone_no
            </td>
           @* <td>
                @S.Date_of_birth
            </td>*@
            <td>
                @S.ProfilePicture
                <img id="pic" src="@S.ProfilePicture" class="img img-responsive" />
            </td>
            <td>
                @S.Cv
                <a href="/Student1/DownloadCV?Path=@S.Cv" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-arrow-down"></span> Download CV</a>
            </td>
            <td>
                <a href="/Student1/StudentDetail?Id=@S.Id" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-check"></span> Detail</a>
                @* <a href="/Student1/DeleteStudent?Id=@S.Id" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>*@
                <a href="#" data-studentid="@S.Id" class="btn btn-danger DeleteStudent"><span class="glyphicon glyphicon-remove"></span> Delete</a>
            </td>
        </tr>

        }
    </tbody>
</table>



@section xyz
    {
    <script>

        $(function () {

            $('#mytable').DataTable();
            $('#pic').draggable();

            $('.DeleteStudent').click(function () {
                var clickedbutton = $(this);
                var studentid = $(this).data("studentid");
                $(this).text("Please wait");
                $.ajax({
                    url: "/student1/deletestudentajax",
                    type: "POST",
                    data: {
                        Id: studentid,
                        Email: "sanazeb110@gmail.com"
                    },
                    complete: function (myresult) {

                        if (myresult.responseText == "Yes") {
                            clickedbutton.parent().parent().addClass("danger");
                            clickedbutton.parent().parent().fadeOut(3000);
                        } else {
                            alert("Please try again");
                        }

                        
                    }
                });


            });
            
        });

    </script>


}






