@model Student



<h1>Please fill the details to update the model</h1>

<form method="post" action="/Student1/EditStudent">

    <p>Id: @Model.Id</p>
    @Html.HiddenFor(m => m.Id)
    <br />
    <label>Id:</label>
    <input type="text" id="Id" name="Id" value="@Model.Id" class="text-muted" />
    <label>Name:</label>
    <input id="Name" name="Name" value="@Model.Name" class="form-group" />
    <br />
    <br />
    <label>RollNo:</label>
    <input type="number" id="RollNo" name="RollNo" value="@Model.RollNo" class="form-group" />
    <br />
    <br />
    <label>Email:</label>
    <input type="email" id="Email" name="Email" value="@Model.Email" class="form-group" />
    <br />
    <br />
    <label>Department:</label>
    <input type="text" id="Department" name="Department" value="@Model.Department" class="form-group" />
    <br />
    <br />
    <label>Class:</label>
    <input type="text" id="Class" name="Class" value="@Model.Class" class="form-group" />
    <br />
    <br />
    <label>Gpa:</label>
    <input type="text" id="Gpa" name="Gpa" value="@Model.Gpa" class="form-group" />
    <br />
    <br />
    <label>Subject:</label>
    <input type="text" id="Subject" name="Subject" value="@Model.Subject" class="form-group" />
    <br />
    <br />
    <label>phone_no:</label>
    <input type="text" id="Phone_no" name="Phone_no" value="@Model.Phone_no" class="form-group" />
    <br />
    @*<br /> <label>Subject:</label>
        <input type="text" id="Date_of_birth" name="Date_of_birth" value="@Model.Date_of_birth" class="form-group" />
        <br />
        <br />*@



    <input type="submit" value="Save" />
</form>

@section Scripts{
    <script>$(function () {
            $("#datepicker").datepicker();
        });</script>
}