@model DefaultProject1.Models.Student

@{
    ViewData["Title"] = "StudentDetail";
}
<h1 class="alert alert-success"><span class="glyphicon glyphicon-chevron-right"></span> Detail of the Student</h1>

<h4>Student ID=@Model.Id  Name=@Model.Name</h4>

<div>
    <div class="col-md-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.RollNo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RollNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gpa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gpa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone_no)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone_no)
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.Date_of_birth)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date_of_birth)
                </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProfilePicture)
                @* <img id="pic" src="@S.ProfilePicture" class="img img-responsive" />*@
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Cv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cv)
            </dd>
        </dl>

        <div>
            <a href="/Student1/CreateAllStudent" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> All Students</a>
            <a href="/Student1/EditStudent?id=@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a href="/Student1/DeleteStudent?Id=@Model.Id" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
        </div>
    </div>
</div>

<div class="col-md-4" id="StudentsNamesDiv">
</div>

<div class="col-md-4"  id="mystudent">
</div>

<div id="AdDiv">
</div>

@section xyz
    {
    <script>
        $(function () {

            $('#AdDiv').load("/Student1/ShowAd");
            $('#StudentsNamesDiv').load("/Student1/GetStudentsNames");
            $('#mystudent').load("/Student1/showstudentdetail");

        });


    </script>
}

